<%= provide(:title, 'Agents') %>

<div class="row">
<div class="col-sm-4">
	<h1> Active Agents </h1>
	<ul class ="agents">
		<% @agents.each do |agent| %>
			<li>
				<%= link_to agent.name, agent %>
				<button onclick=UpdateSelectedField(<%= agent.id %>,"active_mission_agent_id") > Assign Agent </button>
			</li>
		<% end %>
	</ul>
	<%= link_to "New Agent", 'agents/new' %>
</div>

<div class="col-xs-6 col-md-4">
<h1> Available Missions </h1>
	<% @missions.each do |mission| %>
		<li>
			<%= link_to mission.description, mission%>
			<button onclick=UpdateSelectedField(<%= mission.id %>,"active_mission_mission_id") > Select Mission </button>
		</li>
	<% end %>
<%= link_to "New Mission", 'missions/new' %>
</div>

<div class="col-sm-4">
<h1> Active Missions </h1>
<% @active_missions.each do |am| %>
	<li>
		Agent ID: <%= am.agent_id%>
		Mission Status: <%= am.status %>
		<% if (am.status == "Completed") %>
			<%=link_to 'Debrief', controller: "active_missions",
				action: "debrief", id: am, remote: true %>
		<% end %>
		<%=link_to 'delete', am, method: :delete, data: {confirm: "You sure?"} %>
	</li>
<% end %>
</div>
</div>

<h2> Dispatch </h2>
<%= render 'shared/active_mission_form' %>