
<div class="row">
	<ul>
		<li><%= @agent.name %> </li>
		<li><%= @agent.combat %> </li>
		<li><%= @agent.stealth %> </li>
		<li><%= @agent.persuasion %> </li>
		<li><%= @agent.wits %> </li>
		<li><%= @agent.max_health %> </li>
	</ul>
</div>