
<div class="row">
	<ul>
		<li><%= @agent.name %> <li>
		<li><%= @agent.aim %> <li>
		<li><%= @agent.stealth %> <li>
		<li><%= @agent.fortitude %> <li>
		<li><%= @agent.deception %> <li>
		<li><%= @agent.perception %> <li>
	</ul>
</div>